<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NSStringMask.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NSStringMaskTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7209052017284FBE0091402D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7209053417284FBF0091402D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F200B03D172EEC88003CB54A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F273D84717299BFC0038C025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2E3990C1729A1D8007F4FC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
